@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-hover:#0099ff;
    --primary:#12bdff;
    --dark-primary: #1b1f24;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family:"Exo 2", serif ;
 }

 header{
    background-color:var(--dark-primary);
    padding: 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 
 header .logo{
    color:var(--primary);
    font-weight:bold;
    letter-spacing: 2px;

 }

header ul{list-style: none;

    display: flex;
 }
 header ul li{
    margin-right: 20px;
 }
 header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
 }
 header li a:hover{
    color: var(--primary);
 }

 /* section:hero homepage */
 
 section.hero-section{
   background-color: var(--dark-primary);
   color: #fff;
   display: flex;
   align-items:center;
   padding: 64px 100px 20px 220px;
   
 }

 .hero-section__title{
   font-size: 48px;
   font-weight: bold;
 } 
 .hero-section__title > span{
   color: var(--primary);
 }


 .hero-section__title{
   color: azure;
 }
 .social-icons{
   margin: 20px 0 ;
 }
.social-icons li{
margin: 10px;
}
ul.social-icons{
   list-style: none;
   display: flex;
}
.social-icons li > a{
text-decoration: none;
color: #fff;
}
.social-icons li a>i.fa-facebook:hover{
   color: #1877F2	;
}
.social-icons li a>i.fa-linkedin:hover{
   color: #0077B5	;
}
.social-icons li a>i.fa-instagram:hover{
   color:#405de6;
}
.social-icons li a>i.fa-twitter:hover{
   color:#1DA1F2
   ;
}
/* buttons */
.btn{
   padding: 10px 20px;
   border-radius: 2px;
   border: none;
   cursor: pointer;
}

.btn.btn-primary{
   background-color: var(--primary);
   font-weight:700;
   color: var(--dark-primary);

}
.btn.btn-primary:hover{
   background-color: var(--primary-hover);
}

.btn-dark-outlined{
   background-color: var(--dark-primary);
   border: 1px solid var(--primary);
   color: var(--primary);
   border-radius: 20px;
   font-weight: 600;
}
.btn-dark-outlined:hover{
   cursor: pointer;
   background-color: var(--primary);
   color:white;
}

.hero-buttons button{
   margin-right: 20px;
}
/* about me section */
.about-section{
   background-color: #22282f;
   color: #fff;
   padding:  60px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.about-section img{
   width: 350px;
   border-radius: 50%;
   border: 2px solid var(--primary);
   box-shadow: 5px 5px 20px #03506e;
  
}

.about-section--desc{
  margin-left: 100px;
  max-width: 450px;
}

.about-section--desc h4{
   font-size: 30px;
   font-weight: 900;
}
.about-section--desc h4 > span{
   color: var(--primary);
}

.about-section--desc li{
   list-style: none;
   margin: 10px 0;
}
.about-section--desc li{
   margin-bottom: 10px;
   color: gray;
}
.about-section--desc li> a{
   text-decoration: none;
   color: gray;
}
.about-section--desc li > strong{
   color: #fff;
}
.about-section--desc li> a:hover{
   color: var(--primary);
}
.work-section{
   background-color: var(--dark-primary);
   color: #fff;
   padding: 20px;
   text-align:center;
}
.work-section__title{
   font-size: 30px;
   font-weight: 900;
   margin-bottom: 30px;
}
.work-section__title span{
   color: var(--primary);
}

.work-section-items{
   display: flex;
   justify-content: center;
}

.work-section-box{
   background-color: #22282f;
   padding: 30px;
   max-width: 250px;
   text-align: left;
   border-radius: 20px;
   cursor: pointer;
   margin-right:40px ;
}
.work-section-box:hover{
   background-color:rgb(34, 34, 46);
}
.work-section-box p{
   color: gray;
   font-size: 14px;
}

.work-section-box a{
   text-decoration: none;
   color: #feda75;
}
.work-section-box__desc{
   margin-top: 10px;
   margin-bottom: 10px;
}
.work-section-box__desc p{
   padding-top: 5px;
}

.work-section-box__icon {
background-color: var(--primary);
padding: 10px;
border-radius: 50%;
}
.work-section-box__icon:hover{
   background-color: var(--primary-hover);
}

/* contact sectin */
.contact-section{
   background-color: #22282f;
   padding: 40px;
   color: #fff;
   text-align: center;
}
.contact-section h4{
   font-size: 20px;
   margin: 10px 0 ;
   font-weight: 900;
}

.contact-section h4 > span{
color: var(--primary);
}


.contact-section form  input, textarea {
   padding: 5px 10px;
   outline: none;
   width: 350px;
   border: none;
   background-color: #c4c4c4;
   border-radius: 3px;
   margin-bottom: 10px;
   resize: none;
}
footer{
   background-color: var(--dark-primary);
   color: gray;
   padding: 20px 0;
   text-align: center;
   font-size: 12px;
}   

footer a{
   text-decoration: none;
   color: var(--primary);
}

/* media queries */

@media only screen and (max-width:600px) {
   header{
      flex-direction: column;
   }
   header > * {
      margin-bottom: 10px;
   }
   /* hero section */
   section.hero-section{
      flex-direction: column;
      padding: 40px; ;
   }
   /* about section */
   section.about-section{
      flex-direction: column;
   
   }
   .about-section--desc{
      margin-left: 0;
      margin-top: 30px;
   }
   /* my works */
   .work-section{
      padding: 30px 20px;
   }
    .work-section-items{
      flex-direction: column;
      align-items: center;
    }
    .work-section-box{
      margin-bottom: 20px;
      width: 100%;
    }
    /* contact section */
    .contact-section form input,textarea{
      width: 100%;
    }
}

